*.map
*.log
.directory
.bash_history
.env
docker-compose.yml
package-lock.json
npm-debug.log
.idea

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
