@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'bootstrap/scss/bootstrap';
@import 'fontawesome-free/css/all.css';

@import 'variables';
@import 'fonts';

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.loader {
    position: fixed;
    left: 50%;
    right: 50%;
    top: 30%;
    margin-left: -2rem;
    z-index: 100;
}
